.page-common {
  padding: 16px;
  border-radius: 12px;
  &--search {
    padding: 16px;
    border-bottom: 1px solid var(--color-border25);
  }
  &--subtitle {
    padding: 16px;
  }
  &--content {
    padding: 0 16px;
  }
}
